<mat-card>
  <mat-grid-list cols="10" rowHeight="3rem">
    <mat-grid-tile colspan="1">
      <a [routerLink]="['/home']" mat-button>{{currentUser}}</a>
    </mat-grid-tile>
    <mat-grid-tile colspan="7"></mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="isLoggedIn()">
      <a [routerLink]="['/boat']" mat-button>Boats</a>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="isLoggedIn()">
      <button (click)="logOut()" mat-button>Logout</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="!isLoggedIn()">
      <a [routerLink]="['/login']" mat-button>Login</a>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="!isLoggedIn()">
      <a [routerLink]="['/register']" mat-button>Register</a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>